//wn cms styles
@import components/structure
@import components/colours
@import components/typography
@import components/breadcrumb
@import components/quicklinks
@import components/qqc
@import components/sidebar
@import components/sharetools


  


// I think this is for the feature box no?  
.bottom p a span:after 
  font-family: WNI
  content: '\e60d'
  margin: 1px 8px  

// Scholarship Header Styles 

.scholarship .headercontent 
  float: left
  max-width: 30%

.scholarship p.small 
  font-size: 14px
  margin-top: 16px

.scholarship .sponsor 
  float: right
  margin-top: 240px
  width: 140px

.scholarship .sponsor p 
  text-align: center

.scholarship .sponsor a img 
  width: 137px
  height: 137px
  display: inline-block
  border: none
    
// content area


.normal-content ul.numbered 
  list-style: decimal
  list-style-position: outside
  margin-left: 20px
  padding-left: 0

.normal-content ul.numbered li 
  padding-left: 20px
  margin-bottom: 16px
  font-weight: 500

.normal-content ul.numbered li span 
  font-weight: 300

.normal-content
  width: 90%
  max-width: 1150px
  margin: 40px auto 0
  
.hero-content-panel .hero-content
  width: 90%
  max-width: 1150px
  
// FAQs Styles

.normal-content dl dt 
  font-weight: 500
  padding-bottom: 4px

.normal-content dl dd 
  font-weight: 300
  padding-bottom: 16px

.normal-content dl dd p
  margin-bottom: 8px

div.faq h4 
  font-size: 28px
  font-weight: 300
  


  

               
