// header-panel

// Article Header Styles 

#article-header
  .headercontent 
    float: left
    max-width: 30%

#article-header 
  p.small 
    font-size: 14px
    margin-top: 16px

#article-header 
  .sponsor 
    float: right
    margin-top: 240px
    width: 140px

#article-header 
  .sponsor p 
    text-align: center

#article-header
  .sponsor a img 
    width: 137px
    height: 137px
    display: inline-block
    border: none

@media all and (max-width: 860px)
  #article-header 
    .headercontent 
      float: left
      max-width: 50%
    
@media all and (max-width: 500px)
  #article-header
    .headercontent 
      float: left
      max-width: 100%
      min-height: 550px
      h1
        margin-top: 60px