// structure

// Article Page Structure 
#article-content
  margin-top: 24px
  .right-column
    margin-top: 0px
   
  .right-column
    .content-box:first-child
      padding-top: 0px
    
  .section
    margin-bottom: rem-calc(64)



// Mobile Only
@media all and (min-width: 640px)
  #mobile-only 
    display: none
@media all and (max-width: 640px)
  #mobile-only 
    display: block    
      

//home
#home 
  padding-top: 110px
  display: inline-block
  width: 100%
  padding-bottom: 20px
  ul.breadcrumb
    margin-top: 24px
@media all and (max-width: 640px) 
  #home
    padding-top: 60px
    .right 
      float: left
    .left
      float: right
    #homeheropromo
      padding-bottom: 24px
          
// Fix
.small-12, .medium-6
  margin-bottom: 0
.footer-background 
  clear: both
    
// default images are set to 100% need to have a fix to allow for default auto sizing
div > img
  &.auto-size-img
    width: auto
    margin-bottom: rem-calc(20)

    
// Color Boxes

div
  // solid colours
  &.orange
    background-color: $color-orange
  &.teal
    background-color: $color-teal
  &.purple
    background-color: $color-purple
  &.blue
    background-color: $color-blue
  &.red
    background-color: $color-red
  &.yellow
    background-color: $color-yellow
  &.mid-grey
    background-color: $color-mid-grey
  &.light-grey
    background-color: $color-light-grey
  
  // pattern backgrounds
  &.orange-pattern, &.teal-pattern, &.purple-pattern, &.blue-pattern, &.red-pattern, &.yellow-pattern, &.grey-pattern
    color: $color-inverse
    background-position: center

    
  &.orange-pattern
    background-image: url(https://www.worldnomads.com/Content/styles/i/wn/backgrounds/hero_bg_color_orange.jpg)
    
  &.teal-pattern
    background-image: url(https://www.worldnomads.com/Content/styles/i/wn/backgrounds/hero_bg_color_teal.jpg)
    
  &.purple-pattern
    background-image: url(https://www.worldnomads.com/Content/styles/i/wn/backgrounds/hero_bg_color_purple.jpg)
    
  &.blue-pattern
    background-image: url(https://www.worldnomads.com/Content/styles/i/wn/backgrounds/hero_bg_color_blue.jpg)
    
  &.red-pattern
    background-image: url(https://www.worldnomads.com/Content/styles/i/wn/backgrounds/hero_bg_color_red.jpg)
    
  &.yellow-pattern
    background-image: url(https://www.worldnomads.com/Content/styles/i/wn/backgrounds/hero_bg_color_yellow.jpg)
    
  &.grey-pattern  
    background-image: url(https://www.worldnomads.com/Content/styles/i/wn/backgrounds/hero_bg_color_grey.jpg)

    