// QQC
@import functions 

#wnqqcalculator 
  
  #qqc
    margin-bottom: 20px
    
    .qqc-container
      .departure-date 
        width: 100%
      .another 
        margin-top: 90px

    .another.anotherh

    
