// structure

// Article Page Structure 
#article-content
  margin-top: 24px
  .right-column
    margin-top: 10px
    
  .section
    margin-bottom: rem-calc(64)

// Mobile Only
@media all and (min-width: 640px)
  #mobile-only 
    display: none
@media all and (max-width: 640px)
  #mobile-only 
    display: block    
      

//home
#home 
  padding-top: 110px
  display: inline-block
  width: 100%
  padding-bottom: 20px
  ul.breadcrumb
    margin-top: 24px
@media all and (max-width: 640px) 
  #home
    padding-top: 60px
    .right 
      float: left
    .left
      float: right
    #homeheropromo
      padding-bottom: 24px
          
// Fix
.small-12, .medium-6
  margin-bottom: 0
.footer-background 
  clear: both

    
// Color Boxes

div
  &.orange
    background-color: $color-orange
  &.teal
    background-color: $color-teal
  &.purple
    background-color: $color-purple
  &.blue
    background-color: $color-blue
  &.red
    background-color: $color-red
  &.yellow
    background-color: $color-yellow
  &.mid-grey
    background-color: $color-mid-grey
  &.light-grey
    background-color: $color-light-grey
  