// structure



// Article Page Structure 
#article-content
  margin-top: 24px
  .right-column
    margin-top: 10px
    
@media all and (max-width: 700px) 
  #article-content
    .right-column
      border-left: none
      margin-left: 0px
      width: 100%

      
      
      
// Footer Fix
.footer-background 
  clear: both

  


