{% extends "wn-base.html" %}
{% block content %}



<!-- Hero Content Panel Start -->

<div class="hero-content-panel light" id="article-header">
  <div class="row">
    <div class="large-4 medium-5 small-12 column">
      <ul class="breadcrumb">
      <li>
        <a href="/">World Nomads</a>
      </li>
      <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="/"><span itemprop="title">Travel Insurance Australia</span></a>
      </li>
    </ul>
    <h1>Travel Insurance for Australians by World Nomads</h1>
    <p>Travel Insurance for Residents of Australia</p>
    </div>
  </div>
</div>

<!-- Hero Content Panel End -->       

<!-- Background Header Image CSS Start  -->

<style>
  /* Add link to Desktop Image */
  @media all and (min-width: 860px) {
    #article-header {
      background-image: url('/static/Media/Default/hero/hero_travel-insurance-au_full.jpg');
      background-position: bottom center;
      min-height: 550px;
    }
  }
  /* Add link to Tablet Image */
  @media all and (max-width: 860px) {
    #article-header {
      background-image: url('/static/Media/Default/hero/hero_travel-insurance-au_tablet.jpg');
      background-position: bottom center;
      min-height: 440px;
    }
  }
  /* Add link to Mobile Image */
  @media all and (max-width: 500px) {
    #article-header {
      background-image: url('/static/Media/Default/hero/hero_travel-insurance-au_mobile.jpg');
      background-position: bottom center;
    }
    #article-header column {
      margin-top: 160px;
      min-height: 440px;
    }
  }
</style>

<div class="light blue" id="benefits-bar">
  <div class="row">
    <ul class="large-block-grid-6 medium-block-grid-3 small-block-grid-3">
      <li class="medical-icon">24/7 Medical Assistance</li>
      <li class="evacuation-icon">Emergency Evacuation</li>
      <li class="cancellation-icon">Trip Cancellation</li>
      <li class="lost-stolen-icon">Damaged or Stolen Gear</li>
      <li class="interruption-icon">Trip Interruption</li>
      <li class="return-icon">Return Home Early</li>
    </ul>
  </div>
</div>

<div class="row" id="article-content">
  <div class="large-8 medium-8 small-12 columns">
    
    <!--  What we cover Section  -->
    <div class="section">
      <h2>What we cover</h2>

      <p class="highlight">World Nomads offers two travel insurance plans for Australian independent and adventurous travellers.</p>
      <p>With travel insurance coverage for everything you need and nothing you don’t, we’ll make sure you’re covered, even if you run out of travel insurance on the road. We don't just keep you insured, with us you'll travel smarter and safer.</p>

      <h4 id="one">Plan highlights</h4>

      <table id="cover-table" width="100%" border="0" cellpadding="16">
        <tbody><tr>
          <th class="col1">When</th>
          <th class="col2">We</th>
          <th class="col3">Standard</th>
          <th class="col4">Explorer</th>
        </tr>
        <tr>
          <td data-th="When"><span><strong>You need Medical help</strong> for sudden illness or injury.</span></td>
          <td data-th="We"><span>Cover emergency overseas medical treatment including treatment in a clinic or hospital, plus medicines and physiotherapy as prescribed by your treating Doctor to get you well and keep you travelling.</span></td>
          <td data-th="Standard"><span>A$5,000,000</span></td>
          <td data-th="Explorer"><span>Unlimited</span></td>
        </tr>

        <tr>
          <td data-th="When"><span><strong>You need emergency medical evacuation</strong> for Sudden Illness or injury.</span></td>
          <td data-th="We"><span>Cover your transport to the nearest, appropriate medical facility, which also includes your medical repatriation for further treatment at home. Plus it includes, reasonable additional travel and accommodation expenses for a friend or relative to accompany you while you're in hospital and/or during repatriation.</span></td>
          <td data-th="Standard"><span>A$5,000,000</span></td>
          <td data-th="Explorer"><span>Unlimited</span></td>
        </tr>

        <tr>
          <td data-th="When"><span><strong>You have to cancel your trip</strong> due to unforeseeable events outside of your control.</span></td>
          <td data-th="We"><span>Covers the costs to cancel all or part of your trip (including other pre-booked expenses) for up to 14 specific Insured Events including a sudden illness or serious injury, natural disasters, strike or lost passports.</span></td>
          <td data-th="Standard"><span>A$3,500</span></td>
          <td data-th="Explorer"><span>Unlimited</span></td>
        </tr>

        <tr>
          <td data-th="When"><span><strong>Your gear is stolen or damaged </strong> whilst travelling.</span></td>
          <td data-th="We"><span>Cover theft or accidental damage of your gear such as iPads, laptops and digital cameras in specific incidents up to individual item limits. We also allow you upgrade your cover to increase these item limits.</span></td>
          <td data-th="Standard"><span>A$2,000</span></td>
          <td data-th="Explorer"><span>A$10,000</span></td>
        </tr>

      </tbody></table>
      <div class="row">
        <div class="large-6 small-12 columns"><a href="#">View full description of coverage</a></div>
        <div class="large-6 small-12 columns"><a href="#">Plus XX Additional benefits</a></div>
      </div>
    </div>

    <!--  Cover for your Adventure Section  -->
    <div class="section">
      
      <h2>Cover for your Adventure</h2>

      <p class="highlight">World Nomads travel insurance covers more than 200 activities and sports, things that you love to do when you travel.</p>
      
      <div class="row blue">
        <div class="columns"> Activity Form </div>
      </div>
      
      <div class="row">
        <div class="large-3 medium-6 small-6 columns">
          <div class="small-feature-box">
            <div class="bottom blue"><p>Hiking up to 6000m</p></div>
          </div>
        </div>

        <div class="large-3 medium-6 small-6 columns">
          <div class="small-feature-box">
            <div class="bottom blue"><p>Scuba Diving to 40m</p></div>
          </div>
        </div>

        <div class="large-3 medium-6 small-6 columns">
          <div class="small-feature-box">
            <div class="bottom blue"><p><a href="#">Skiing &amp; Boarding cover</a></p></div>
          </div>
        </div>

        <div class="large-3 medium-6 small-6 columns">
          <div class="small-feature-box">
            <div class="bottom blue"><p>Kayaking &amp; white water rafting cover</p></div>
          </div>
        </div>
        
        <div class="large-12 columns">We have different levels of cover available for those adventurous World Nomads looking to get their heart pumping on their adventure. </div>
      </div>

    </div>
    
    
    <!-- When something goes wrong Section -->
    <div class="section">
      
      <h2>When something goes wrong</h2>

      <p class="highlight">Purchasing travel insurance can be confusing at times, but the best way to understand why its important is to see how it supports you when something does go wrong. The following examples are what we see every day at World Nomads.</p>
      
      <div class="row">
        <div class="large-6 small-12 columns">
          <div class="text-with-icon medical">
            <ul>
              <li><h5>Illness or Injury</h5></li>
              <li><a href="#">What to do if you need to return home early because your travel companion or someone important at home being sick or injured.</a></li>
              <li><a href="#">What to do if you can’t travel due to illness or injury.</a></li>
              <li><a href="#">What to do if you’re hurt in an accident.</a></li>
              <li><a href="#">What to do if you fall suddenly ill.</a></li>
            </ul>
          </div>
        </div>
        <div class="large-6 small-12 columns">
          <div class="text-with-icon luggage">
            <h5>Lost, Stolen or Damaged</h5>
            <ul>
              <li><a href="#">What to do if your luggage is delayed.</a></li>
              <li><a href="#">What to do if your luggage is damaged.</a></li>
              <li><a href="#">What to do if your luggage is lost or stolen.</a></li>
            </ul>        
          </div>
        </div>
      </div>
      
      <div class="row">
 
        <div class="large-6 small-12 columns">
          <div class="text-with-icon delay">
            <h5>Cancellation &amp; Delays</h5>
            <ul>
              <li><a href="#">What to do if you miss your flight.</a></li>
              <li><a href="#">What to do if your flight is delayed.</a></li>
              <li><a href="#">What to do if you have to cancel your trip.</a></li>
            </ul>
          </div>
        </div>
        <div class="large-6 small-12 columns">
          <div class="text-with-icon disaster">
            <h5>Natural Disasters</h5>
            <ul>
              <li><a href="#">What to do if bad weather has delayed my trip.</a></li>
              <li><a href="#">What to do if your hair is damaged by a nefarious gust of wind.</a></li>
              <li><a href="#">What to do if you are struck by an act of Cod.</a></li>
            </ul>
          </div>
        </div>
        
      </div>
    </div>
    
    <!--  Travel Insurance Claims Section  -->
    <div class="section">
          <h2>Travel Insurance Claims</h2>
          <p class="highlight">Over the past 10 plus years, we have seen just about every type of travel insurance claim there is.</p> 
          <p>Our claims staff and international network of medical and assistance providers have the depth of experience to ensure should you get into trouble, we’ll be there, every step of the way.</p>
          
          <p><a href="#">Guide to making a travel insurance claim</a>  |  <a href="#">Making a claim</a> | <a href="#"> What you’ll need </a></p>

      <div class="row">
        <div class="small-12 large-12 columns">
          <div class="feature-box-right-panel" style="background-image: url('/static/Media/Default/girl-on-bus.jpg');">
            <ul class="breadcrumb">
              <li>
                <a href="http://answers.worldnomads.com">True Claims</a>
              </li>
            </ul>
            <a href="http://answers.worldnomads.com"><h4>Shatered arm in Argentina</h4></a>
            <div class="right purple">
              <span class="feature-quote"></span>
              <p>I fell off a roof in Argentina and shattered my arm. Waking up in a local hospital was terrifying. I can’t imagine navigating that experience without World Nomads.</p>
              <p>– JH (Argentina)</p>
            </div>
          </div>
        </div>

        
      <div class="small-12 large-12 columns">
          <div class="feature-box-right-panel" style="background-image: url('/static/Media/Default/surfer-guy.jpg');">
            <ul class="breadcrumb">
              <li>
                <a href="http://answers.worldnomads.com">True Claims</a>
              </li>
            </ul>
            <a href="http://answers.worldnomads.com"><h4>Shark bite in Bali</h4></a>
            <div class="right teal">
              <span class="feature-quote"></span>
              <p>Whilst surfing in Bali, Indonesia I was attacked by a two metre Bull Shark. The bite to my right forearm had severed five tendons and most of the muscle. World Nomads travel insurance covered the costs of my medical bills up front. </p>
              <p>– JF (Indonesia)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--  Gear Cover Section  -->
    <div class="section">
      <h2>Gear cover for the digital nomad</h2>
      <p class="highlight">World Nomads travel insurance doesn't just cover your adventure activities, but as digital nomads ourselves, we know how important it is to have cover for your tech gear as well.</p>
      <p>We cover theft or accidental damage of your gear and you can also upgrade your cover to increase the individual item limit to $3,000 per item for such things as;</p>
      
      <div class="row">
        <div class="small-12 large-12 columns light-grey">
          <h3>Camera cover</h3>
          <p>We have cover for all your photography gear:</p>

          <div class="row">
            <div class="large-4 small-12 columns">
              
              <h5>Beginner</h5>
              <p>Our Standard plan covers $500 which is suitable for a pocket point-and-shoot.</p>
            </div>
            <div class="large-4 small-12 columns">
              <h5>Enthusiast</h5>
              <p>Our Explorer plan covers $2,000 for all of your combined cameras and lenses which is suitable for an entry level camera. </p>
            </div>  
            <div class="large-4 small-12 columns">
              <h5>Semi-Pro</h5>
              <p>You can increase cover for your combined cameras and lenses up to $6,000 with a per item limit of $3,000 by adding these to your policy.</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="small-12 large-6 columns light-grey">
          <h3>iPhone &amp; iPad cover</h3>
          <p>Our Standard Plan covers up to $2,000 with a per item limit of $500. our Explorer Plan covers up to $10,000 with a per item limit of $2,000. </p>
        </div>
        <div class="small-12 large-6 columns light-grey">
          <h3>Laptop cover</h3>
          <p>Our Standard Plan covers up to $2,000 with a per item limit of $500. our Explorer Plan covers up to $10,000 with a per item limit of $2,000. </p>
        </div>
      </div>  
      
      <div class="row">
        <div class="small-12 large-12 columns light-grey">
          image
          <h3>Passports, travel documents &amp; credit cards</h3>
          <p>We also reimburse the cost to replace your passport,credit cards and travel documents (eg. visas, travel passes) if they're lost, stolen or accidently damaged.</p>
        </div>
      </div>
      
      
    </div>
    
    
    
      
  </div>

  <div class="large-3 medium-4 small-12 columns">
    <div class="right-column">
      <h4 class="tabcolour">Your guide to World Nomad Travel Insurance:</h4>
       

      <h4 class="tabcolour">Related Stories</h4>

      <ul class="related">
        <!--1st item -->

        <li>
          <a href=
          "http://journals.worldnomads.com/responsible-travel/story/81053/Thailand/Why-Elephant-Riding-Should-Be-Removed-from-Your-Bucket-List&quot;">
          <img src="http://www.worldnomads.com//Media/Default/Stories-Images/Thai-image.jpg"></a>
          <a href=
          "http://journals.worldnomads.com/responsible-travel/story/81053/Thailand/Why-Elephant-Riding-Should-Be-Removed-from-Your-Bucket-List">
          Why Elephant Riding Should be Removed from your Bucket List</a> <label><a href=
          "http://journals.worldnomads.com/responsible-travel/">by Responsible Travel</a></label>
        </li><!--2nd item -->

        <li>
          <a href=
          "http://journals.worldnomads.com/travel-tips/story/109254/Worldwide/Around-the-World-in-Ten-Hangovers">
          <img src="http://www.worldnomads.com/Media/Default/Stories-Images/tripe.jpg"></a> <a href=
          "http://journals.worldnomads.com/travel-tips/story/109254/Worldwide/Around-the-World-in-Ten-Hangovers">
          Around the World in Ten Hangovers</a> <label><a href=
          "http://journals.worldnomads.com/travel-tips/">by A Nomad Knows</a></label>
        </li><!--3rd item -->

        <li>
          <a href=
          "http://journals.worldnomads.com/workandholiday/story/78488/France/Working-Holidays-in-France-Embracing-the-Work-Life-Balance">
          <img src="http://www.worldnomads.com/Media/Default/Stories-Images/girl-france.jpg"></a>
          <a href=
          "http://journals.worldnomads.com/workandholiday/story/78488/France/Working-Holidays-in-France-Embracing-the-Work-Life-Balance">
          Working Holidays in France: Embracing the Work-Life Balance</a> <label><a href=
          "http://journals.worldnomads.com/workandholiday/">by Working Holiday</a></label>
        </li><!--4th item -->

        <li>
          <a href=
          "http://journals.worldnomads.com/extraordinaryexperiences/story/111141/Greenland/Greenland-Hiking-on-Top-of-the-World">
          <img src="http://www.worldnomads.com/Media/Default/Stories-Images/greenland.jpg"></a>
          <a href=
          "http://journals.worldnomads.com/extraordinaryexperiences/story/111141/Greenland/Greenland-Hiking-on-Top-of-the-World">
          Greenland: Hiking to the Top of the World</a> <label><a href=
          "http://journals.worldnomads.com/extraordinaryexperiences#axzz3C1FL4feP">by Extraordinary
          Experiences</a></label>
        </li>
      </ul>
    </div>
  </div>
</div>
  

<!-- Main Content Area End -->

{% endblock content%}
